<div class="container admin">
  <div class="page-header">
    <h1 class="title">Administra tus usuarios Admin</h1>
  </div>

  <ul class="list-group user-list">
    <h3>Usuarios:</h3>
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
