.info-stuff {
  margin-top: 10px;
}

.banner-socios {
  max-width: 1075px;
}

.banner-socios2 {
  max-width: 1075px;
  margin-top: 3px;

}

.box-socios {
  margin-top: 2%;
  margin-left:5%;

}

.container-fluid {
  padding-left: 4%;
  padding-right: 3%;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}
