<div class="container-fluid">
  <img class="banner-socios"ng-src="/assets/images/sociosBanner.png">
  <div class="main">
    <div class="page-header">
      <h1 class="title">HACETE SOCIO</h1>
      <br/>
      <div id="socios-content">
      <p>Y empezá a disfrutar de las instalaciones del club durante todo el año. Completá el formulario a continuación con tus datos para pre-inscribirte y luego, acercate a <b>Nicolás Acosta 736</b> de lunes a viernes de 9.00 a 12.00 hs y de 18.00 a 20.30 hs para completar el tramite.
        En el caso de desees aplicar a becas deportivas, escribinos a <b>becas@caestudiantes.com.ar</b> y recibirás toda la información.</p>
      </div>
    </div>
    <div class="row">

    <img class="cuadro-socios" ng-src="/assets/images/bannerSocios.png" alt=""/>
      <form class="form-horizontal" novalidate>
        <div class="col-md-4" align="left">
          <fieldset>
            <div class="form-group">
              <label class="control-label" for="name">Nombre y Apellido</label>
              <div class="controls">
                <input type="text" data-ng-model="newSocio.name" id="name" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="domicilio">Domicilio</label>
              <div class="controls">
                <input type="text" data-ng-model="newSocio.domicilio" id="domicilio" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="localidad">Localidad</label>
              <div class="controls">
                <input type="text" data-ng-model="newSocio.localidad" id="localidad" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="provincia">Provincia</label>
              <div class="controls">
                <input type="text" data-ng-model="newSocio.provincia" id="provincia" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="email">Correo electrónico</label>
              <div class="controls">
                <input type="email" data-ng-model="newSocio.email" id="email" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="dob">Fecha de nacimiento</label>
              <div class="controls">
                <input type="date" data-ng-model="newSocio.dob" id="dob" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="phone">Número de teléfono</label>
              <div class="controls">
                <input type="number" data-ng-model="newSocio.phone" id="phone" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="socioNuevo">Se inscribe por primera vez?</label><br/>
              <input type="radio" ng-model="newSocio.socioNuevo" value="true" required/>Si<br>
              <input type="radio" ng-model="newSocio.socioNuevo" value="false"/>No<br>
            </div>

            <div class="form-group">
              <label class="control-label" for="categoria">Categoría a inscribirse:</label><br/>
              <input type="radio" ng-model="newSocio.categoria" value="Grupo familiar" required/>Grupo familiar<br>
              <input type="radio" ng-model="newSocio.categoria" value="Cadete menor a 18 años"/>Cadete menor a 18 años<br>
              <input type="radio" ng-model="newSocio.categoria" value="Cadete mayor a 18 años"/>Cadete mayor a 18 años<br>
            </div>

            <button class="btn btn-success" ng-click="addSocio()">Enviar</button>
          </fieldset>
         </div>
      </form>
    </div>
  </div>
</div>
