.info-stuff {
  margin-top: 10px;
}

.banner-socios {
  max-width: 1075px;
}

.banner-socios2 {
  max-width: 1075px;
  margin-top: 3px;

}

.title {
  font-family: Times;
  font-weight: bold;
}
.title2 {
  font-weight: bold;
}
#socios-content {
  font-family: Gill Sans;
  text-align: justify;
}

.container-fluid {
  padding-left: 4%;
  padding-right: 3%;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}
