<div class="container-fluid">
  <img ng-src="/assets/images/sociosBanner.png">
  <div class="main">
    <div class="page-header">
      <h1>¡HACETE SOCIO!</h1>
      <h4>Completá el formulario a continuación con tus datos y recibirás un correo electrónico con los pasos a seguir para avanzar en tu inscripción.</h4>
    </div>
    <div class="row">

    <img class="banner-socios" ng-src="/assets/images/bannerSocios.png" alt=""/>

      <section data-ng-show="isAdmin" data-ng-init="">
        <h2>Socios</h2>
        <div ng-repeat="socio in socios">
          <div class="box-socios">
            <h4 class="media-heading">Socio id:{{socio._id}}</h4>
            <h5 class="media-heading">Socio name:{{socio.name}}</h5>
            <h5 class="media-heading">Socio email:{{socio.email}}</h5>
            <h5 class="media-heading">Socio phone:{{socio.phone}}</h5>
            <h5 class="media-heading">Socio dob:{{socio.dob| date:'MM/dd/yyyy'}}</h5>
            <button class="btn btn-success" ng-click="deleteSocio(socio)">Delete</button>
            Refresh after deleting messages (tell dev to fix this to do automatically)
          </div>
        </div>
        <br>
        <br>
      </section>

      <div class="col-md-4" align="left">
        <form class="form-horizontal" novalidate>
          <fieldset>
            <div class="form-group">
              <label class="control-label" for="name">Nombre</label>
              <div class="controls">
                <input type="text" data-ng-model="newSocio.name" id="name" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input type="email" data-ng-model="newSocio.email" id="email" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="dob">Nacimiento</label>
              <div class="controls">
                <input type="date" data-ng-model="newSocio.dob" id="dob" class="form-control" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="phone">Número de teléfono:</label>
              <div class="controls">
                <input type="number" data-ng-model="newSocio.phone" id="phone" class="form-control" required>
              </div>
            </div>
            <button class="btn btn-success" ng-click="addSocio()">Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
