<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald"/>
</head>
<div class="container-fluid" ng-controller="FooterController">
  <div class="fotter">
    <div class="container">
      <div class="col-md-4 left text-left">
        <h3>Club Atlético Estudiantes</h3>
        <p>Es una de las grandes instituciones de la provincia del Chaco que nació en el siglo pasado y que ha crecido deportiva e institucionalmente a lo largo de los años. Un sin número de dirigentes, aficionados, jugadores, profesionales o simple "hinchas" son su gran tesoro y orgullo. </p>
      </div>
      <div class="col-md-4 middle">
        <div class="">
          <h3>MAPA DEL SITIO</h3>

          <div ui-sref="elClub"><a href="">EL CLUB</a></div>
          <div ui-sref="instalaciones"><a href="">INSTALACIONES</a></div>
          <div ui-sref="deportes"><a href="">DEPORTES</a></div>
          <div ui-sref="socios"><a href="">SOCIOS</a></div>
          <div ui-sref="contacto"><a href="">CONTACTO</a></div>

          <!--<li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>-->
          <div ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></div>
          <div ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></div>
          <div ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></div>
        </div>
      </div>
      <div class="col-md-4 left right text-left">
        <h3>Sumate a nuestro equipo!</h3>
        <p>Enviá tu curriculum o contacto caestudiantes-res@hotmail.com y contanos tus ideas o proyectos para el Club</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
