<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald"/>
</head>
<div class="container-fluid ">
  <div class="fotter">
    <div class="container">
      <div class="col-md-4 left text-left">
        <h3>Pellentesque Sitm</h3>
        <p>Phasellus scelerisque enim eget eros accumsa
          Quisque euismod est vitae velit lobortis nec vo
          Nullam non erat et nisl mattis mollis in Maecen
          as at ipsum vel eros auctor fau</p>
        <a href="#">More info</a>
      </div>
      <div class="col-md-4 middle text-left">
        <h3>Pellentesque Sitm</h3>
        <ul>
          <li><a href="#"><span> </span>Duis quis dolor felis, aliquet blandit lipsum</a></li>
          <li><a href="#"><span> </span>Phasellus sed erat augue, non porta untun</a></li>
          <li><a class="mid1" href="#"><span> </span>Nullam non erat et nisl mattis mollis in unoki</a></li>
          <li><a class="mid" href="#"><span> </span>Maecenas at ipsum vel eros auctor fausino</a></li>
        </ul>
      </div>
      <div class="col-md-4 left right text-left">
        <h3>Pellentesque Sitm</h3>
        <p>Phasellus scelerisque enim eget eros accumsa
          Quisque euismod est vitae velit lobortis nec vo
          Nullam non erat et nisl mattis mollis in Maecen
          as at ipsum vel eros auctor fau</p>
        <a href="#">More info</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
