.container-fluid {
  padding-left: 4%;
  padding-right: 3%;
}

.main {
  margin-left: 20%;
  margin-right: 20%;
}

.deportes-images {
  max-width: 1000px;
}

.text-box {
  max-width: 1000px;
}
.deportes-images2 {
  max-width: 1000px;
  margin-bottom: 2%;
}
