.container-fluid {
  padding-left: 4%;
  padding-right: 3%;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}

.banner-instalaciones{
  max-width: 1177px;
  max-height: 255px;
}

.carouser-instalaciones{

}

.box-image {
  max-width:550px; 
  max-height:550px;
}

.title {
  font-family: Times;
  font-weight: bold;
}
.title2 {
  font-weight: bold;
}
#instalaciones-content {
  font-family: Gill Sans;
  text-align: justify;
  font-size: 18px;
}
