<div class="container-fluid">
  <div class="row main">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Equipos!</h1>
      </div>
        <!-- this is the new search input field -->

        <div class="col-md-6">
          <!--see teams-->
          <h1>Ver equipos!</h1>
            <div ng-repeat="equipo in equipos" class="list-group-item">
              <div class="">
                <h4 class="media-heading">Club id:{{equipo._id}}</h4>
                <h5 class="media-heading">Club name:{{equipo.clubName}}</h5>
                <h5 class="media-heading">Club puntos:{{equipo.puntos}}</h5>
                <h5 class="media-heading">Club posicion:{{equipo.posicion}}</h5>
                <h5 class="media-heading">Club imagenEscudo:{{equipo.imagenEscudo}}</h5>
                <h5 class="media-heading">Club fecha:{{equipo.fecha}}</h5>
                <h5 class="media-heading">Club rival:{{equipo.rival}}</h5>
                <button class="btn btn-success" ng-click="deleteEquipo(equipo)">Delete</button>
                <button class="btn btn-success" ng-click="editEquipo(equipo)">Editar</button>
                Refresh after deleting messages (tell dev to fix this to do automatically)
              </div>
            </div>
            <br>
            <br>
        </div>
      <!--end see teams-->

      <!--add teams-->
        <div class="col-md-6">
          <h1>Agregar equipos!</h1>
          <form class="form-horizontal" novalidate>
            <fieldset>
              <div class="form-group">
                <label class="control-label" for="clubName">Nombre del club</label>
                <div class="controls">
                  <input type="text" data-ng-model="newEquipo.clubName" id="clubName" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="puntos">Puntos</label>
                <div class="controls">
                  <input type="number" data-ng-model="newEquipo.puntos" id="puntos" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="posicion">Posicion:</label>
                <div class="controls">
                  <input type="number" data-ng-model="newEquipo.posicion" id="posicion" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="imagenEscudo">imagenEscudo:</label>
                <div class="controls">
                  <input type="text"  data-ng-model="newEquipo.imagenEscudo" id="imagenEscudo" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="fecha">Proxima fecha de partido:</label>
                <div class="controls">
                  <input type="date"  data-ng-model="newEquipo.fecha" id="fecha" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="rival">Rival en la proxima fecha:</label>
                <div class="controls">
                  <input type="text" data-ng-model="newEquipo.rival" id="rival" class="form-control">
                </div>
              </div>

              <button class="btn btn-success" ng-click="addEquipo()">Agregar equipo</button>
            </fieldset>
          </form>
        </div>
        <!--end add teams-->
      </section>
    </div>
  </div>
</div>
