<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div>
      <img class="logoFadeDown" id="logo" src="/assets/images/logo_estudiantes_fondo_transparente.png">
    </div>
    <ul id="navbar">
      <li ui-sref-active="active"><a ui-sref="/">Inicio</a></li>
      <li ui-sref-active="active"><a ui-sref="elClub">El club</a></li>
      <li ui-sref-active="active"><a ui-sref="deportes">Deportes</a></li>
      <li ui-sref-active="active"><a ui-sref="instalaciones">Instalaciones</a></li>
      <li ui-sref-active="active"><a ui-sref="socios">Socios</a></li>
      <li ui-sref-active="active"><a ui-sref="contacto">Contacto</a></li>
      <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="mostrar-equipo">Editar-Equipos</a></li>
      <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="ver-socios">Ver socios</a></li>
      <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="ver-contactos">Ver contactos</a></li>
    </ul>
    <div class="top-navigation-right">
      <a href="https://twitter.com/CAEstudiantes32" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
      <a href="https://www.facebook.com/ClubAtleticoEstudiantes/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
      <a href="https://www.instagram.com/clubestudiantesrcia" class="icon-button instagram"><i class="fa-instagram"></i><span></span></a>
     <!-- <a href="#" class="icon-button youtube"><i class="fa fa-youtube"></i><span></span></a>
      <a href="#" class="icon-button pinterest"><i class="fa fa-pinterest"></i><span></span></a>-->
    </div>
  </div>
</div>
