.carousel-inner{
  width: 100%;
  max-height: 400px !important;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
}

.carousel-inner > .active {
  left: 0;
  padding-left: 0%;
  padding-right: 0%;
}

.page-header {
  margin-top:30px;
}

.image-text {

  font-size: large;
}
.imagen-noticia {
  width:150px;
  height:150px;
}
.propaganda {
  margin-top: 0.5%;
    width:380px;
    height:165px;
}

.box {
  margin-top: 2%;
  margin-right: 0%;
  margin-left: 0%;
  padding: 0%;
  background-color:#d3582b;
}
.md6,
.md8 {
  padding: inherit;
  margin: inherit;
}

/*                  noticias                               */
.noticias {
  box-sizing: content-box;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.news-item {
  vertical-align:top;
  width:33%;
}

.sort-news {
  float: right;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
