.container-fluid {
  padding-left: 4%;
  padding-right: 3%;
}

.main {
  margin-left: 20%;
  margin-right: 20%;
}

.banner{
  max-width: 1366px;
  max-height: 255px;
}

.title {
  font-family: Times;
  font-weight: bold;
}
.title2 {
  font-weight: bold;
}
#history-content {
  font-family: Gill Sans;
  text-align: justify;
  font-size: 18px;
}



