<div class="container-fluid">
  <img ng-src="/assets/images/contactoBanner.png">
  <div class="row main">
    <div class="col-md-12">
      <div class="page-header">
        <h1>¡CONTACTANOS!</h1>
      </div>

      <div>
        <div class="left-side col-md-4">
          <form class="form-horizontal" name="contactoForm" >
            <fieldset>
              <div class="form-group">
                <label class="control-label" for="name">Nombre y Apellido:</label>
                <div class="controls">
                  <input type="text" data-ng-model="newContacto.name" id="name" class="form-control" >
                </div>
                <div role="alert">
                  <span class="error" ng-show="contactoForm.name.$error.required">Required!</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="name">Correo electrónico:</label>
                <div class="controls">
                  <input type="email" data-ng-model="newContacto.email" id="email" class="form-control" >
                </div>
                <div role="alert">
                  <span class="error" ng-show="contactoForm.email.$error.required">Required!</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="name">Teléfono:</label>
                <div class="controls">
                  <input type="number" ng-minlength="8" ng-maxlength="12" data-ng-model="newContacto.phone" id="phone" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" for="name">Mensaje:</label>
                <div class="controls">
                  <textarea name="message" data-ng-model="newContacto.message" id="message" class="form-control" cols="30" rows="10"></textarea>
                </div>
              </div>

              <button class="btn btn-success" ng-click="addContacto(newContacto.name)">Enviar</button>
            </fieldset>
          </form>
        </div>

        <div class="right-side col-md-8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.4370577608615!2d-58.969072085198604!3d-27.455649622678187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450ce28973040f%3A0xc2eba96858f95963!2sAv+Laprida+2000%2C+H3508AAS+Resistencia%2C+Chaco!5e0!3m2!1sen!2sar!4v1471718108803" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 info-stuff">
        <div class="col-md-3">
          <h3>SEDE SOCIAL Y DEPORTIVA:</h3>
          <h5>Avenida Laprida 2000 Resistencia, CP3500, Chaco – Argentina.</h5>
        </div>
        <div class="col-md-3">
          <h3>COMPLEJO ESTADIO CENTENARIO:</h3>
          <h5>Nicolás Acosta 736, Resistencia, CP3500, Chaco - Argentina</h5>
        </div>
        <div class="col-md-3">
          <h3>HORARIOS DE ADMINISTRACIÓN:</h3>
          <h5>Lunes a Viernes de 8hs a 12hs y 17hs a 21hs. Sábados de 8hs a 17hs.</h5>
        </div>
        <div class="col-md-3">
          <h3>LLAMANOS:</h3>
          <h5>Teléfono: (+54) 03624 423398 o escribinos a <br> <a href="">caestudiantes-res@hotmail.com</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
